// @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
// 'Press Start 2P' linked in index.html 
$font: cursive, sans-serif;
$gameFont: 'Press Start 2P';


$navbarColor: #738CA6;
$screenColor: #4A6B8A;